[2016-08-21 03:53] amilajack opened #1 "Initial Tests"

[2016-09-25 02:28] amilajack opened #4 "EPERM: operation not permitted, write"
This is an error that happens on windows when running this plugin with [atom's linter](https://atom.io/packages/linter) and [atom-eslint](https://atom.io/packages/linter-eslint).

There seem to be a number of related issues:

https://github.com/AtomLinter/linter-eslint/issues/418
https://github.com/AtomLinter/linter-eslint/issues/579
https://github.com/AtomLinter/linter-eslint/issues/650
https://g

[2016-09-25 18:34] amilajack opened #6 "Appveyor fails on 32 bit Architecture"
Flow seems to only be supported on 32 bit Windows OS's.

See https://github.com/flowtype/flow-bin/issues/41

[2016-09-26 08:07] DJCordhose opened #8 "Problems in IntelliJ when node_modules folder is not on top level"
I tried out the plugin and it works great as a webpack loader, but I can not make it run in Webstorm / IntelliJ. The problem is that it does not seem to find the plugin as the directory it looks in is not right (should be ...src/main/js/...):

Error: Cannot find module '/Users/olli/Development/floreysoft/floreysoft-status/node_modules/eslint-plugin-flowtype-errors/dist/collect.js'
    at Function.

[2016-09-26 14:12] amilajack commented on #8
I'm assuming that you're running ESLint locally. Is that right?
Also what is the output of `cat '/Users/olli/Development/floreysoft/floreysoft-status/node_modules/eslint-plugin-flowtype-errors/dist/collect.js`. Does anything actually exist there?

[2016-09-26 15:16] DJCordhose commented on #8
As I said, there is nothing there as my node_modules are not installed at root level. The problem is the path to the node_module that is set as fixed in the code (again, as described above).

[2016-09-26 15:35] amilajack commented on #8
This is a solution but ideally, it should work with no configuration. I think a possible solution is somehow finding the absolute path of the directory of the`eslint` installation.

Maybe something like this:
[code]

Thoughts?

[2016-09-26 16:03] DJCordhose commented on #8
Would be the best solution.

[2016-09-26 19:04] DJCordhose commented on #8
I did a small hack to fix the path, but there are more errors and I am not sure what to do there.

Looks like firstMessage does not have a loc.

/Users/olli/Development/floreysoft/floreysoft-status/src/main/js/node_modules/eslint-plugin-flowtype-errors/dist/collect.js:112
      start: firstMessage.loc.start.line,

TypeError: Cannot read property 'start' of undefined
    at /Users/olli/Development/

[2016-09-26 21:00] amilajack commented on #8
What was the quick hack that you did?

[2016-09-28 02:02] wukkuan commented on #8
I'm having the same issue, though with flycheck in emacs.

I was able to get past the original error (Error: Cannot find module) by configuring flycheck to use the root of the git repo as the working directory. Then I started getting the same error as @DJCordhose.

Doing some more investigation, `process.cwd()` at that point in the code says that I'm in the directory _above_ my git repo. It looks

[2016-09-28 02:11] amilajack commented on #8
What version of the module are you using?

[2016-09-28 03:03] #6 closed

[2016-09-28 03:09] wukkuan commented on #8
Ah, bumping to the latest (`1.2.3`) seems to have resolved the problems! Thank you!

[2016-09-28 03:57] amilajack commented on #8
@wukkuan Thanks for the feedback!

@DJCordhose Try updating the package. That should do the trick.

[2016-09-28 06:57] DJCordhose commented on #8
Not finding collect.js has been fixed in 1.2.3, but I still see the next error:

`/Users/olli/Development/floreysoft/floreysoft-status/src/main/js/node_modules/eslint-plugin-flowtype-errors/dist/collect.js:105
      start: firstMessage.loc.start.line,
                             ^

TypeError: Cannot read property 'start' of undefined
    at /Users/olli/Development/floreysoft/floreysoft-status/src

[2016-09-28 13:57] amilajack commented on #8
Is your flowconfig located in the root of your project?

[2016-09-28 14:33] DJCordhose commented on #8
Hey, good catch. It is not. When I move it to the root everything works just fine :)

Do you think it is possible to not require it at root level? Because my project is a mix of Java and JavaScript and it would be weird to have it above my Java folder.

Anyway, errors are displayed inline in IntelliJ, added a screen shot for our entertainment :)

<img width="807" alt="screen shot 2016-09-28 at 16

[2016-09-28 15:16] amilajack commented on #8
@DJCordhose I can work on adding that feature today. I'm thinking allowing that to be configured in the `.eslintrc`. If the project can't find the `.flowconfig`, it should throw an error at installation time and runtime.

[2016-09-28 15:17] DJCordhose commented on #8
+1

[2016-09-29 07:06] nmn opened #11 "Make it work on the fly"
Using `flow check-contents` you can pass the current contents of a file to be listed by flow. So you can catch your errors before you save the file. Adding that would be a big improvement.

See `linter-flow` for an example

[2016-09-29 14:26] amilajack commented on #11
[See this note](https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/master/src/index.js#L5-L31) for the reason of the design decision.

Adding that feature is actually much harder than it seems and than it needs to be. ESLint's plugin API doesn't support.

[2016-09-30 20:57] pelotom opened #13 "Duplicate error messages"
This code

[code]

produces 3 duplicate errors for the last line:

[code]

[2016-09-30 21:09] pelotom opened #14 "React prop validation not supported"
This code:

[code]

rightly fails typechecking with `flow` because `Bar` is not supplying all required props to `Foo`:

[code]

however `eslint-plugin-flowtype-errors` doesn't notice the problem.

[2016-09-30 22:24] #8 closed

[2016-09-30 22:25] amilajack opened #15 "Add path to `.flowconfig` to override default root path"
Inspired by https://github.com/amilajack/eslint-plugin-flowtype-errors/issues/8

[2016-09-30 22:26] amilajack commented on #14
Thanks for opening this issue! I'll start looking into this right now.

[2016-09-30 22:26] #4 closed

[2016-09-30 22:26] #1 closed

[2016-09-30 22:29] amilajack opened #16 "E2E Project Testing"
To ensure that this project is very well tested, I'm thinking of forking an example react repo, making some intentional errors, capturing the `flow --json` response, and testing that flow reports exactly those issues on every test. These kinds of tests should be run on Travis and Appveyor.

[2016-09-30 22:36] amilajack commented on #13
I think I know why what is causing this bug. I'll work on a fix today.

[2016-10-01 04:12] amilajack commented on #8
@DJCordhose In eclipse, do you have to save a file for the Flow errors to update in the IDE? For example, if you have this:

[code]

and add a new space:

[code]

Do you have to have to save the file for the flow errors to update and report on the new line?

[2016-10-01 04:14] amilajack commented on #13
Just found a fix for this locally. I'll be pushing the patch soon 🎉

[2016-10-01 04:46] amilajack commented on #14
<img width="996" alt="screen shot 2016-09-30 at 9 46 40 pm" src="https://cloud.githubusercontent.com/assets/6374832/19011824/6393b32a-8757-11e6-896b-8fbf2f4f6909.png">

Is this the expected output?

[2016-10-01 05:08] pelotom commented on #14
Ideally the error should appear in `Bar`, at the use site where `Foo` is being given the wrong props, not in `Foo` itself.

[2016-10-01 05:14] amilajack commented on #14
<img width="627" alt="screen shot 2016-09-30 at 10 13 52 pm" src="https://cloud.githubusercontent.com/assets/6374832/19011958/30c28774-875b-11e6-856c-5ac5cd83a545.png">

Unfortunately that's just how Flow formats it :(

[2016-10-01 05:19] amilajack commented on #14
Their wording is really tricky. Do you suggest I duplicate the message at both lines 6 and 22?

So maybe something like this?
[code]

[2016-10-01 05:21] pelotom commented on #14
Yeah, I figured, because every IDE package for flow seems to put the error there. Looks like a bug I need to take up with the Flow team! This is great though, thanks for your prompt fix!

[2016-10-01 05:24] amilajack commented on #14
I think this is intentional. They're basically trying to say what the error is and then try to point to it (which is useful but I think they could improve on this). The current way they achieve this makes it impossible for IDE's/plugins to highlight both with points with their own error messages.

[2016-10-01 16:21] DJCordhose commented on #8
I user IntelliJ, not Eclipse, but in IntelliJ you get the errors without saving explicitly. Very nice 👍

[2016-10-01 16:37] amilajack commented on #11
@nmn After looking into this, it seems like this has to do with the way that atom runs ESLint and its plugins. On some editors, you don't need to save for eslint to report errors. Check out [this issue](https://github.com/amilajack/eslint-plugin-flowtype-errors/issues/8#issuecomment-250921267) for more on that.

I'll contact the atom-linter/linter-eslint maintainers to see how I can resolve this.

[2016-10-01 18:58] amilajack commented on #14
Before I release the fixesI want to check if this address all the issues you saw:

You can install the testing version like so and it should work
[code]

[2016-10-01 19:19] pelotom commented on #14
Yep, it works! 👍

[2016-10-01 19:28] pelotom commented on #14
I realize it's not possible to highlight both, but is it possible to highlight only the more relevant one? The information needed seems to be there in the console output from `flow`:

[code]

The first part of that error message is what's being highlighting right now, but the second part, the use site, is the interesting thing and what should ideally be used for the error marker location. I'm not

[2016-10-01 19:37] pelotom commented on #14
It looks like from the JSON API on [Try Flow](https://flowtype.org/try/#0PTAEAEDMBsHsHcBQiCWBbADrATgF1AEoCmAhgMa4A0oA3qAMKyawB2RL+AvqJNk6AHJspCgORloJAM5TQAMVixQRAB652AE1mNmbDrUSgjoDHwxSAXAeM2eKbFNwA5EmiJXH2FCwDmlQ7ZGko4ubh64Xr7+NpzINsIsGkTYABQAlNaBoMK4AK7YLKApAVnGADwaKABuAHwlpbZlABYAjDUAEkTQcLS4TShSAHSmsOaDkPYhrkTcNH0Dw2ZDwc7TnGXArXUN5cCVtfU2afWxsYgS0rIAQiTYymqa2kxYevg09QlJqRnvpTn5hTKCiUEwcqzcAF4A

[2016-10-01 19:47] #13 closed

[2016-10-01 19:47] amilajack commented on #13
Fixed in https://github.com/amilajack/eslint-plugin-flowtype-errors/pull/17

[2016-10-01 19:55] pelotom commented on #14
This definitely seems like an issue to bring up with Flow though, because they're reversing the normal ordering of relevancy when it comes to prop errors vs function calls. With errors in function arguments, the first context is the relevant one (the call site), whereas with React element creation the first context is the declaration site, and the "call site" comes last. I will bring this up with

[2016-10-01 19:56] amilajack commented on #14
Yup. That's what I was thinking. Should this be closed then?

[2016-10-01 19:57] pelotom commented on #14
Yep, thanks!

[2016-10-01 19:58] amilajack commented on #14
No problem! Also can I get your answer to [this question](https://github.com/amilajack/eslint-plugin-flowtype-errors/issues/8#issuecomment-250891205). Some editors dont seem to support linting before saving the file.

[2016-10-01 19:59] #14 closed

[2016-10-01 20:01] pelotom commented on #8
In Atom with the [linter-eslint](https://github.com/AtomLinter/linter-eslint) package the warnings/errors also appear as you type, without having to save.

[2016-10-01 20:03] amilajack commented on #8
I see. So it is as @DJCordhose described it?

[2016-10-01 20:07] pelotom commented on #8
Yes.

[2016-10-01 20:11] amilajack commented on #11
@nmn Seems like it depends on your editor linter plugin.

A few people seem to have this working:
https://github.com/amilajack/eslint-plugin-flowtype-errors/issues/8#issuecomment-250921267
https://github.com/amilajack/eslint-plugin-flowtype-errors/issues/8#issuecomment-250934502

What editor and plugins are you using to integrate ESLint with your editor?

[2016-10-01 20:25] amilajack commented on #8
![flow_on_the_fly_save](https://cloud.githubusercontent.com/assets/6374832/19016823/0ff581fc-87da-11e6-8180-3e00a99c8d4b.gif)

Here's a short demo showing how this doesn't work with my configuration. I only save the file once in the demo. Notice how removing the `:string` annotation doesn't lint on the fly.

@pelotom @DJCordhose so just to confirm, you guys aren't experiencing anything like this?

[2016-10-01 20:37] amilajack opened #18 "Allow Flow to be installed as peerDependency"

[2016-10-01 20:38] pelotom commented on #14
I filed [an issue for this](https://github.com/facebook/flow/issues/2557) with the Flow project.

[2016-10-01 20:46] pelotom commented on #8
@amilajack sorry, actually I am seeing wonky behavior specifically with errors from `flowtype-errors`... all other ESLint warnings/errors seem to work on the fly, but `flowtype-errors` seem to only be triggered on save :(

[2016-10-01 20:47] amilajack commented on #14
Great! Thanks a bunch.

[2016-10-01 21:19] amilajack commented on #8
I'm using atom, `linter-eslint` and `linter` as well so I had a feeling that you would experience the same issues as well. This is something that really puzzles me. It could be that [these lines](https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/master/src/index.js#L10-L12) are taking too long the execute and ESLint/atom-eslint/atom-linter might not wait for it to finish because it t

[2016-10-02 05:50] amilajack opened #21 "Columns are reported incorrectly"
All columns are reported one column to the left.

<img width="340" alt="screen shot 2016-10-01 at 10 50 38 pm" src="https://cloud.githubusercontent.com/assets/6374832/19018972/7d5febb6-8829-11e6-8146-a8e0e8ef626b.png">

Waiting for https://github.com/facebook/flow/issues/1451#issuecomment-250955135 to be resolved.

[2016-10-02 07:39] amilajack commented on #11
@nmn Fixed this in a alpha version. I would really appreciate if you could test this out yourself and see if it address all the issues you have experienced:

[code]

[2016-10-02 07:41] amilajack commented on #8
@pelotom @DJCordhose I've fixed the issues. Now it should work on the fly without having to save! I would really appreciate if you could test this out before I publish the package.

[code]

[2016-10-02 07:55] DJCordhose commented on #8
In IntelliJ it worked even before and it still works with 1.2.6 :)

[2016-10-02 08:07] amilajack commented on #8
Yes! Nothing broke!

[2016-10-02 08:17] DJCordhose commented on #8
Yes, not in IntelliJ :)

[2016-10-02 16:58] amilajack commented on #8
Also what does the error
[code]
mean? Does it meant the library definitions can't be found? On what line numbers should these kinds of errors be reported on?

This output from `flowtype.org/try` gives no specific line on which the errors occurs:
[code]

The last error reports a line but the 'inconsistent use of library definitions' errors don't :(

[2016-10-02 18:34] Adjective-Object opened #22 "Running eslint on multiple files causes flow to be run mutliple times"
in the dist source on `collect.js`, the filepath for flow to evaluate is not passed in, flow is always run with `flow --json`

This means when eslinting multiple files, flow parses the entire project. This is a huge performance cost.

[2016-10-02 18:39] Adjective-Object opened #23 "plugin throws errors when flow detects no errors"
on collect.js line 114

[code]

Because the stdout of collect.js is parsed by index.js, which then immediately runs it through JSON.parse, and then `filter`, which does not exist on booleans.

Suggest changing the false clause of the ternary to `[]` to correct this.

[2016-10-02 18:40] Adjective-Object commented on #23
Alternatively,
[code]

[2016-10-02 18:49] amilajack commented on #22
@Adjective-Object Yup! See https://github.com/amilajack/eslint-plugin-flowtype-errors/issues/8#issuecomment-250958589.

[2016-10-03 07:05] jyane opened #25 "A typo in a wiki page."
Thank you for your good eslint plugin.

I found a typo in a wiki page.

https://github.com/amilajack/eslint-plugin-flowtype-errors/wiki/Getting-Started
`Create a .flowconfig with:` -> `Crate a .eslintrc with:` ?

[2016-10-03 12:42] Adjective-Object commented on #22
Ah, I see that i was confused by looking at a dead codepath which had not been removed.

I am unsure what the issue you posted (on the fly linting) has to do with this issue though, would you mind clarifying? I've been working against the on-the-fly linter using SublimeLinter-eslint with no issues apart from #23.

[2016-10-03 12:52] Adjective-Object opened #26 "`npm install` broken"
[code]
npm install is broken due to invalid peer dependencies.

Suggest downgrading eslint-plugin-import to `^1.16.0`, or specifying a project `.eslintrc` instead of depending on airbnb's

[2016-10-03 12:52] Adjective-Object commented on #26
I'd be happy to open a pull to fix either of these issues, just let me know which approach you'd find more appropriate.

[2016-10-03 15:04] amilajack commented on #25
Yup! Good catch!

[2016-10-03 15:04] amilajack commented on #25
Fixed 🎉

[2016-10-03 15:04] #25 closed

[2016-10-03 15:13] amilajack commented on #26
Try updating to `1.2.0`.

[2016-10-03 15:15] amilajack commented on #22
It was actually worse than this. Previously, it would run on every AST node 😆 Now it runs on every file but it only checks that file. Its MUCH faster now.

[2016-10-03 15:15] amilajack commented on #22
Try updating to `1.2.0` to see the new changes.

[2016-10-03 16:01] michalkvasnicak opened #27 "Plugin is spawning multiple flow processes in different projects"
When I run eslint configuration with this plugin in different projects there are multiple flow processes running as a result.

Only way to get rid of these processes is to stop them manually.

![image](https://cloud.githubusercontent.com/assets/174716/19044034/e600aa24-8992-11e6-814b-fafb2136dfa1.png)

This is screenshot when I run linting in 2 projects.

Is there a mechanism to stop them automati

[2016-10-03 16:12] michalkvasnicak commented on #27
I've tried to add following line to `collect.js#executeFlow`

[code]

This works nice with webpack in watching mode but is not good if you are using eslint in your editor because it kills flow server everytime lint process is done.

[2016-10-03 17:30] amilajack commented on #27
What version are you using? Try both `1.2.0` and `1.3.0` separately. Do you get the same issues with both?

[2016-10-03 17:35] amilajack commented on #23
Try updating to `1.3.0` and let me know if the issue persists.

[2016-10-03 18:11] michalkvasnicak commented on #27
I am using `1.3.0`. It works good as expected. But problem with multiple servers starts if I open another project where I am using this plugin too. Then it will start another flow server for given project.

I don't see any nice solution to this because we can't detect if you've stopped your work on project. So flow server will stay running.

So how many separate projects you start, that many flow

[2016-10-03 18:59] amilajack commented on #27
What if the servers could have some kind of timeout option where they will automatically be killed after a certain time, say 1 hour? Also how impactful is the instantiation of new flow servers on your machine?

[2016-10-03 19:06] michalkvasnicak commented on #27
I haven't noticed any impact on my machine. I came across it when I was debugging my app. It is just eating memory even if it is not used. Timeouts would be good but how should they work?

For example: I am using webpack in watch mode with `eslint-loader` which runs your plugin. So I can easily detect termination of process and kill flow server too.

Perhaps mentioning it in readme is enough so us

[2016-10-03 20:57] amilajack commented on #27
I think that this module should be responsible for handling servers that it instantiates. I think the timeout method is a good one.

[2016-10-05 05:11] #26 closed

[2016-10-05 05:11] #23 closed

[2016-10-05 05:11] #22 closed

[2016-10-08 02:17] amilajack commented on #11
Sorry for the late follow up. `1.4.0` has been release. I would recommend using that instead. Also are you experiencing any issues with the module anymore? If not, maybe this should be closed?

[2016-10-08 06:07] #11 closed

[2016-10-12 06:55] jfmengels opened #29 "Use files rather than .npmignore"
Follows the work in #28.
When I install the plugin, I'm downloading the following:
![image](https://cloud.githubusercontent.com/assets/3869412/19300083/7731fd1a-9058-11e6-8b10-edbd12f096cb.png)
(minus the gifs when the next release occurs)

I'd recommend using the `index` field of `package.json` instead of using `.npmignore`, like [here](https://github.com/avajs/eslint-plugin-ava/blob/master/packa

[2016-10-12 07:11] amilajack commented on #29
Sounds great! Would be awesome if you could make a PR for this.

[2016-10-12 17:14] #29 closed

[2016-10-13 04:24] amilajack commented on #29
Published as `eslint-plugin-flowtype-errors@1.4.1-alpha.0`. Would be great if you could test this out!

[2016-10-13 06:51] jfmengels commented on #29
Looks like it's working :)

End result:
![image](https://cloud.githubusercontent.com/assets/3869412/19339196/44de8f02-9122-11e6-93b0-31aa59793070.png)

[2016-10-17 07:05] amilajack opened #32 "PR: Enable `flowtype-errors/show-errors` rule by default"

[2016-10-19 16:53] shauns opened #33 "`Property not found in...` errors not reported"
If I have a function

[code]

And I call it with

[code]

An error is reported as expected (due to the mismatched type). But if I call it with

[code]

An error is reported by Flow but not by this plug-in. Seems that the code filtering out issues is incorrect: https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/master/src/collect.js#L76 as `filepath` and `message[0].path` don't match i

[2016-10-19 19:15] amilajack commented on #33
@shauns Is there a reason why this kind of error doesn't have a correct filepath? I cant think of any reason why.

[2016-10-20 08:48] shauns commented on #33
In the broken case, `filepath` is the caller site, and `message[0].path` is the callee. Suppose it could be a flow responsibility rather than this plug-in? See anything like that elsewhere?

[2016-10-20 09:23] shauns commented on #33
I've added a PR with a failing test case for you.

[2016-10-20 14:01] amilajack commented on #33
Thanks for this!

[2016-10-26 12:54] zperrault commented on #18
Hi @amilajack!

I'd be happy to take this on. Shouldn't be too difficult 😄 .

Is there a way you'd like to me approach this or any steps you'd like me to take when open a PR etc.?

[2016-10-26 14:02] amilajack commented on #18
@zperrault Great! Thanks 🎉👊

[2016-10-27 15:36] amilajack commented on #33
Would be great if you could check if `1.5.0` has this issue.

[2016-11-02 11:52] fmal opened #40 "windows support?"
I'm using latest version of the plugin with up-to-date Atom, `linter-eslint` and `linter`.  My machine is running Windows 8.1 64-bit. When i trigger eslint from cli errors show up correctly, however i'm not able to see them in Atom ui. Errors from the plugin are somehow swallowed, while all the other rules validate just fine. Has anyone managed to get Atom linting working on windows?

[2016-11-02 16:32] amilajack commented on #40
Last time I checked on windows, it did work. I'll test this out over the weekend.

[2016-11-22 02:49] morlay commented on #18
Since the new version of flow released, if we set `[version]` in `.flowconfig`,  this plugin will be broken.

Could we publish a new version to fix it?

[2016-11-22 03:26] amilajack commented on #18
I have no idea how the new method of versioning in flow works. I'll look into this hopefully this weekend

[2016-11-29 21:26] tribou opened #41 "Plugin not working with Bitbucket Pipelines or TravisCI"
I'm not sure if there's anything that can be done on the side of this plugin, but I wanted to at least report that I got lots of "Required module not found" flow errors when running a private Bitbucket Pipeline CI test.  The errors were related to packages installed in `node_modules` as well as requiring other files without using a `.js` file extension (i.e. `require('../lib/routes')`).

However,

[2016-11-30 02:33] amilajack commented on #41
Interesting. Does this happen on travis? Also can you list some general steps that I can take to reproduce this?

[2016-11-30 23:06] tribou commented on #41
It appears to be happening in TravisCI too...

https://travis-ci.org/tribou/react-template/jobs/180236472

[code]

Similar to Bitbucket, it appears to be a mix of npm packages and local files.

[2016-12-04 18:16] CodyReichert opened #43 "Unexpected token error caused by different versions of flow"
If I have the following type defined inside of a react component. This is using covariant properties in an exact object type:

[code]

I get an error from this plugin:

[code]

However, this is valid syntax ([see here](https://flowtype.org/try/#0C4TwDgpgBAChBOBnA9gOygXigbwD4CgooBqAM1QEMBbCALikWHgEtUBzAGkJIBtKb6jFuy5FiAV0QJ+dBk1Zt8uAL4BufPh4RgUeONSoAjO3pwkaTDm7lqsgEQBpCvAg87oqH1v07AIQC3WgDW7tyS0t5Q

[2016-12-04 18:56] CodyReichert commented on #43
Semi-related now regarding:

I see in in a few places that the plugin checks for `process.env.FLOW_BIN`, and if that's not found, it `require`s `flow-bin`. (eg, https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/master/src/collect.js#L16)

What would be the best way to _set_ `process.env.FLOW_BIN` so that the plugin would use my version of flow? Is that possible?

[2016-12-04 21:20] CodyReichert commented on #43
Last bit of info - just realized I'm on `eslint-plugin-flowtype-errors@1.5.0`, but `2.0.0` makes some changes to the `flow-bin` dependency that might fix this.

Can a new version be released to npm?

[2016-12-05 03:55] amilajack commented on #43
Just to confirm, try this:

[code]

[2016-12-05 21:06] CodyReichert commented on #43
@amilajack - thanks. Same error, unfortunately:

[code]

Note that the `+` syntax was introduced in flow@0.34.0, and this plugin has a dependency on version 0.33.0.

---

The `flow-bin` in my top-level `node_modules/.bin` directory is the latest 0.36.0 version:

[code]

And the `flow-bin` in the `node_modules` for this plugin is `0.33.0`:

[code]

I'm assuming this plugin is using the 0.33.0 inste

[2016-12-05 21:08] amilajack commented on #43
Ahh I see. Thanks. I'll update

[2016-12-09 02:25] amilajack commented on #43
Sorry for the delay. I've just pushed some fixes for this in a preminor:

[code]

[2016-12-09 02:27] amilajack commented on #41
What version of the module are you using?

[2016-12-09 02:29] amilajack opened #45 "PR: Drop CI support for node 4"

[2016-12-09 02:29] tribou commented on #41
`eslint-plugin-flowtype-errors@1.5.0`

[2016-12-09 02:30] amilajack commented on #41
Try updating to the latest version of the plugin and let me know if that works.

[2016-12-09 02:43] amilajack opened #46 "Fail explicitly on 32-bit machines"
Currently, the plugin returns true when running on an 32-bit machine. I think explicit failure will allow for better diagnostics of why the plugin may not be working correctly

[2016-12-09 03:04] tribou commented on #41
The latest (alpha) version appears to get the same errors with version 0.36.0 of flow as well...

https://travis-ci.org/tribou/react-template/jobs/182483833

However, I'm enjoying using the latest version of flow locally! 😄

[2016-12-09 03:14] CodyReichert commented on #43
Just tested it and the error no longer appears -- thank you!

[2016-12-09 03:14] #43 closed

[2016-12-09 03:16] amilajack commented on #41
Are you installing type definitions on CI?

[2016-12-09 03:20] tribou commented on #41
Yes, I'm afraid, I went ahead and checked in `flow-typed` definitions to the git repo on the master branch which also failed here:

https://travis-ci.org/tribou/react-template/jobs/182482504

[2016-12-21 00:43] amilajack opened #52 "Migrate to eslint's RuleTester"

[2016-12-23 22:32] jdmota commented on #33
I had the same issue because I was using `strip_root=true` in my `.flowconfig`.

[2016-12-23 22:38] amilajack commented on #33
@jdmota what version of the plugin are you using?

[2016-12-23 22:42] jdmota commented on #33
@amilajack 2.0.1

[2016-12-23 22:44] amilajack commented on #33
If you remove strip_root, does it work?

[2016-12-23 22:46] jdmota commented on #33
Yes.

When this line runs: `message[0].path === filepath`,
`message[0].path` is a relative path (because of `strip_root`) but `filepath` is absolute, so it fails.

[2016-12-23 22:49] amilajack commented on #33
@jdmota would be you be interested in making a PR for this? I'm a bit busy at the moment studying for interviews 😔

[2016-12-23 22:50] jdmota commented on #33
@amilajack I'll see what I can do :)

[2017-01-01 12:58] artursgirons opened #60 "`Required module not found` when symlinking module via `npm link <module_name>`"

[2017-01-01 20:03] amilajack commented on #60
Can you please elaborate on the steps that you followed? I'm trying to reproduce this.

[2017-01-01 22:25] amilajack opened #61 "PR: Add support for recommended config settings"

[2017-01-05 07:49] artursgirons commented on #60
Hmm, I managed it to get working. I guess initial issue was due to misconfiguration from my part, sorry.

[2017-01-05 07:49] #60 closed

[2017-01-06 20:51] jbinto opened #62 "Plugin does not report error, but flow-bin does (for npm imported types)"
This plugin seems to have issues detecting/reporting on flow errors when they span across multiple files/npm projects.

For example:

[code]

Output of `flow-bin` (detecting both errors):

[code]

Output of `eslint` (not detecting the 2nd error):

[code]

Perhaps the hint from flow to "see node_modules/graphql...:383" might be throwing us off?

I have a reproduction case here, if it helps (fairly

[2017-01-06 21:28] jbinto commented on #62
Also here is a gist containing the output of `flow check --json`, which should help a little more:

https://gist.githubusercontent.com/jbinto/81ecf6ba259596ef4234aa0ff7a79951/raw/72a43100f885a57c8c9a48421d859c75c4c4bcd0/flow-output.json

[2017-01-06 21:30] jbinto commented on #62
Seems related to #33.

[2017-01-12 16:17] amilajack commented on #62
Sorry for very late response. Yes, this is indeed related to #33 I'll look into it this weekend. Would be great if you could also look into this and submit a PR :)

[2017-01-12 16:17] #62 closed

[2017-01-12 17:26] amilajack commented on #33
Reopening because it seems like this issue persists.

[2017-01-27 23:03] ryancole commented on #40
I was coming here to open an issue regarding this, as well. I recall this used to work at some point in the past but no longer seems to work. When I run eslint via CLI, I see the flow errors from this plugin. When I open a file via Atom, I don't see any of the errors from this plugin, but I will see other eslint errors.

Here is my eslint config ...

[code]

I'm also on Windows, using latest versi

[2017-01-27 23:12] amilajack commented on #40
Are you on a 32bit machine? Or 64bit?

[2017-01-27 23:14] #15 closed

[2017-01-27 23:14] #16 closed

[2017-01-27 23:14] #21 closed

[2017-01-27 23:14] #45 closed

[2017-01-27 23:14] ryancole commented on #40
@amilajack Windows 10 64-bit. Although, it looks like Atom runs as 32-bit, based on the version string, which is 1.13.1 ia32.

[2017-01-27 23:15] amilajack commented on #41
@tribou can you confirm if you are still experiencing this issue issue?

[2017-01-28 08:37] amilajack commented on #40
Flow isnt supported on 32 bit machines. See https://github.com/amilajack/eslint-plugin-flowtype-errors/issues/46. I'll try to check this out over the weekend

[2017-01-28 15:43] ryancole commented on #40
Just to be clear, this plugin *does* work via eslint CLI. I see the errors when I run eslint CLI. So, the plugin is working there. I just don't appear to be seeing the errors in Atom, for some reason.

[2017-01-28 19:04] #33 closed

[2017-01-30 05:32] amilajack commented on #40
I just confirmed that this plugin does not work on the 32 bit atom (because flow isnt supported on 32bit environments). You can download the the 64bit version of atom from the downloads section of the [latest release](https://github.com/atom/atom/releases)

<img width="807" alt="screen shot 2017-01-29 at 9 24 43 pm" src="https://cloud.githubusercontent.com/assets/6374832/22413118/d521657a-e669-11e

[2017-01-30 05:33] #40 closed

[2017-01-31 23:35] mgtitimoli opened #65 "Rule to guarantee coverage and conf to display warns for not covered"
Hi @amilajack,

Before moving forward I want to say thank you, I'm using your package since the first day I dug into flowtype and it works great!

I don't know if you have ever tried [Nuclide](https://nuclide.io/), well, the point is that it has a nice feature that lets you see which parts of a given file is not [covered by flow](https://www.npmjs.com/package/flow-coverage-report). I was wondering

[2017-02-01 01:31] #32 closed

[2017-02-01 01:31] #18 closed

[2017-02-01 01:32] amilajack commented on #41
Closing due to no response 🙁

[2017-02-01 01:32] #41 closed

[2017-02-01 02:15] amilajack commented on #65
I have used nuclide before but I don't remember seeing something like a min flow types coverage check. Can you send me a screenshot of that? That might help me understand this more. I also think that enforce-min-coverage should be a separate tool. eslint is primarily used for reporting errors in specific lines of code. I think a better solution would add the `flow-coverage-report` checker in your

[2017-02-01 03:10] diegohaz opened #66 "Changelog?"
Hi, thank you for this amazing plugin.

Could you please tell me what changed since v2? I just received notifications from Greenkeeper to update my repos, but I would like to know that before doing that.

[2017-02-01 06:56] amilajack commented on #66
Sure thing. I'll make a PR for this. Release 3.0.0 adds support for linting errors from imported modules. Here's the issue that was fixed: https://github.com/amilajack/eslint-plugin-flowtype-errors/issues/33. I'm certain that the new errors reported by the change will create a lot of new errors in people's linters so i bumped the major semver.

[2017-02-01 07:12] amilajack commented on #66
https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/master/CHANGELOG.md

🎉

[2017-02-01 07:12] #66 closed

[2017-02-01 10:30] diegohaz commented on #66
Thanks ❤️

[2017-02-01 21:34] mgtitimoli commented on #65
Sure, here is a screenshot so you can see what I'm talking about

![image](https://cloud.githubusercontent.com/assets/4404683/22527035/6e527858-e8ac-11e6-9946-18d134cc1f19.png)

As you can see, they don't have a min flow types coverage, what they do have is a feature that on hover shows a tooltip where they tell you the percentage covered by flow, and in addition if you click on it, then it toggle

[2017-02-01 21:52] mgtitimoli commented on #65
For **enforce-min-coverage** would be something like this:

[code]

One thing that could be hard to know is if a given file has flow annotation, but I guess you are already doing that, if not, it would be a matter of visit Comment nodes, and look for flow annotation, and change program by program:exit.

[2017-02-01 23:26] amilajack commented on #65
I see. How about making a PR for this? The code base is very small so its pretty easy to navigate. Also I'm a bit busy at the moment so it may take a while before I get around to looking over and doing this. Thanks!

[2017-03-02 19:44] iamlacroix opened #68 "Certain Flow errors are ignored"
Some of our errors are being ignored. It only seems to occur when the error concerns two different files, e.g. when incorrect props are passed to a React component that was imported from another file.

After some debugging, it seems to be filtered by this filepath equality conditional: https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/06138df15300f525e61670af68b1153eee624e80/src/coll

[2017-03-02 19:46] amilajack commented on #68
Would be easier to debug if you could say where the components are defined. Thanks 😄

[2017-03-02 19:48] iamlacroix commented on #68
Like full filepaths?

[2017-03-02 19:48] amilajack commented on #68
Relative to the root dir of the project would be nice

[2017-03-02 19:49] iamlacroix commented on #68
[code]

[2017-03-02 19:51] amilajack commented on #68
Ahh i see, so those are the only files. I'm assuming that types are defined in those files as well. Thanks for this bug report. I think i have been experiencing this as well. Will write stricter tests and a fix soon.

[2017-03-02 19:53] iamlacroix commented on #68
Thanks!

[2017-03-08 21:57] jamsea opened #70 "Doesn't respect `[ignore]` in project's .flowconfig"
Hi there, I have a .flowconfig file in the root of my project that looks something like this:

[code]

When I try running `eslint` though I get all of the flow errors from files in the `.*/foo/.*` directory even though it's ignored.

My guess is the issue may have something to do with this function: https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/a90711517d2be7eb36da2cf3d9383240711

[2017-03-08 23:18] amilajack commented on #70
You're definitely not crazy! I've been experiencing this as well. The plugin only works by simply taking the errors from flow and reporting them. I feel like this is more of a flow issue -- namely which errors it returns through its api

[2017-03-09 00:02] jamsea commented on #70
Ah that makes sense, I'm using version `0.41.0` at the moment. This might be the excuse I need to actually fix the flow errors in that folder, thanks @amilajack

[2017-03-09 00:54] amilajack commented on #70
I would recommend reporting this error to the flowtype repo

[2017-03-09 00:54] #70 closed

[2017-03-10 13:27] pizzafroide opened #71 "Report error which Flow does not report"
This use case is where, in C/C++, a forward declaration would be needed.

`A.js`:
[code]

`B.js`:
[code]

Flow says `No errors!` but `flowtype-errors/show-errors` reports the following in `A.js`:
[code]

[2017-03-10 14:40] amilajack commented on #71
Not sure what C/C++ has to do with flow. Can you please elaborate on this. Is there a feature of C that you want in flow?

[2017-03-10 15:05] pizzafroide commented on #71
Not at all. I'd just like `flowtype-errors` to not report an error when Flow does not. The C++ reference was just intended to explain the use case. More specifically, type checking class `A` needs `B` type to be known, and type checking class `B` needs `A` type to be known. (That's where, in C++, a forward declaration is needed.)

[2017-03-19 10:50] marionebl opened #73 "Join efforts with eslint-plugin-flowtype"
I recently published `eslint-plugin-flow-check` ([link](https://github.com/marionebl/eslint-plugin-flow-check)) which basically has the same functionality as your plugin.

I am rather unhappy with crowding the eslint + flowtype naming space further but had to move quickly for a private project.

I wonder if you'd be interested in joining efforts with @gajus and me over at [gajus/eslint-plugin-flow

[2017-03-19 17:05] amilajack commented on #73
@marionebl I'm actually already a collaborator of that project

[2017-03-19 17:22] gajus commented on #73
As described in the PR I have referred you @marionebl , the two projects are distinct enough that require to exist in different namespaces. Rules that utilize flow-bin should go to `eslint-plugin-flowtype-errors`, rules that can be implemented without utilizing `flow-bin` go to `eslint-plugin-flowtype`.

[2017-03-23 14:12] lydell commented on #68
I made a simple test repo for your convenience: https://github.com/lydell/eslint-plugin-flowtype-errors-bug

[2017-03-23 15:54] amilajack commented on #68
@lydell Thanks! Would be great if you could make a PR for this test case

[2017-03-23 18:42] lydell commented on #68
@amilajack I had a look at it, but I couldn’t figure out how to make a test that requires several input files.

[2017-03-23 19:15] amilajack commented on #68
I would recommend adding the necessary files to the `test` dir

[2017-03-24 07:21] lydell commented on #68
Thanks! I figured it out. Here's the PR: #74

[2017-03-25 18:30] #68 closed

[2017-03-25 20:36] amilajack commented on #71
@pizzafroide would be great if you could make a PR for this

https://github.com/amilajack/eslint-plugin-flowtype-errors/issues/68
https://github.com/amilajack/eslint-plugin-flowtype-errors/pull/74

[2017-03-25 22:46] #52 closed

[2017-03-26 18:47] amilajack commented on #27
@jdmota Would be great if you could look into this. I think it can be solved by small json object of when flow was last run on the project and killing the processes if flow hasn't been run on the project in an hour or so?

[code]

[2017-03-26 19:19] jdmota commented on #27
I will take a look. I just need to understand how the flow server works. Maybe trying to start a flow server ahead of time can help... [eslint-plugin-flow-check does that actually.](https://github.com/marionebl/eslint-plugin-flow-check/commit/afc6d059b8c96113feb7460e8b6c442e626220ac)

[2017-03-26 21:39] jdmota commented on #27
Then I decide to not work on this project and move on separate project B (`/path/b`), start `npm run lint`. This plugin starts flow server for this directory too. There are 2 flow servers running as a result of this operations (each spawning multiple child processes as on screenshot from first post).
Only way to stop server from A is by running `flow stop` in this directory.

Probably I'm not unde

[2017-03-27 07:23] pizzafroide commented on #71
@amilajack I'm a little busy right now and have no time to address this issue. For now, I've just added a note telling that this kind of error is actually OK. But I'll consider making a proper PR later on. Thanks for the links to the related issues anyway.

[2017-03-27 17:11] jdmota commented on #71
It is an [issue with flow](https://github.com/facebook/flow/issues/2235). Maybe we can find a work around...

[2017-03-27 17:52] amilajack commented on #71
Closing this, as we're waiting on flow. @jdmota Thanks for finding this!

[2017-03-30 20:29] amilajack commented on #27
They actually stay open. This is good because flow can cache. The downside is that we have to kill them after a certain time period

[2017-03-31 17:08] jdmota commented on #27
In my case, they seem to close... Maybe because I'm on Windows?...

Anyway, how do we kill the processes after a certain time period? Can you explain exactly your ideia? I'm a little confused 😄

[2017-03-31 17:10] amilajack commented on #27
You would probably do something like
[code]

[Here's the documentation](https://flow.org/en/docs/cli/)

[2017-03-31 17:19] jdmota commented on #27
Yes. But, that json file you mentioned before; it will only help close processes from previous projects, and it would require someone to run eslint again so that we can check if flow hasn't been run in an hour, am I correct?

(Was I clear? My english is not perfect 😜 )

[2017-03-31 17:21] amilajack commented on #27
Yes. We may be able to use some kind of process manager like [pm2](https://github.com/Unitech/pm2). I think that will be a much more elegant solution

[2017-03-31 18:08] jdmota commented on #27
On the flow documentation I saw that there is a `--from` argument that you can give.

Do you think it can be useful to us? Maybe flow is able to close itself if it knows what started it???

[2017-03-31 18:28] amilajack commented on #27
I haven't used it before so I'm not sure. I would recommend asking on the gitter chat or whatever chat the flow team uses now

[2017-04-19 11:14] namjul commented on #15
We would need this feature. Is this on the roadmap?

[2017-04-19 17:09] amilajack commented on #15
the PR for this should be pretty straightforward. Would be great if you could try your hand at it. I'm low on time this week :(

[2017-04-20 12:30] namjul commented on #15
ok, i will have a look into it.

[2017-04-24 13:54] #73 closed

[2017-04-25 16:37] amilajack opened #80 "Add flow-runtime link to README"

[2017-05-10 06:28] nwoltman opened #81 "Problems with spaces in paths on Windows"
1: If my project is located at a path with a space above the project folder:

`C:\Users\me\project folders\project`

this plugin fails to start the Flow server and ESLint outputs `exec: internal error` ~~whenever Flow encounters a type error~~ several times (I can't find a correlation between the number of times that it is output and either the number of Flow errors or the number of files with the

[2017-05-10 12:56] amilajack commented on #81
Can you please show the entire stack trace

[2017-05-10 17:03] nwoltman commented on #81
There is no stack trace. The `eslint` command completes successfully and `exec: internal error` is the only thing that gets written to the command line. Using eslint's `--debug` flag didn't yield anything useful.

Also, I updated the issue with more details.

[2017-05-10 21:28] jdmota commented on #81
Maybe it is because we are doing

[code]

So the arguments end up being

[code]

[2017-05-11 14:35] #81 closed

[2017-05-11 14:39] amilajack commented on #81
@nwoltman Just published `3.2.1-0`. Would be awesome if you could test this out

[2017-05-11 16:28] nwoltman commented on #81
Yes that fixed it. Thank you :)

[2017-05-11 16:29] amilajack commented on #81
Great! Just published `3.2.1`

[2017-05-11 16:36] amilajack commented on #81
@nwoltman also you should thank @jdmota. He PR'd the fix (as always)

[2017-05-11 16:37] nwoltman commented on #81
Oh nice. Thanks @jdmota!

[2017-05-11 17:36] jdmota commented on #81
You're welcome!

[2017-05-13 01:24] sarkistlt opened #83 "can I config it to show errors in all js files within project? like with option all=true?"

[2017-05-13 06:06] amilajack commented on #83
`all=true` in the `flowconfig` works

[2017-05-13 06:06] #83 closed

[2017-05-13 15:57] jzimmek commented on #65
Hi @amilajack,

I put together a enforce-min-coverage rule:
https://github.com/jzimmek/eslint-plugin-flowtype-errors

Not sure how you want this to be implemented into the existing codebase, so I tried to modify a minimum of existing code. Some code could be further unified.

I am still struggling with the testing infrastructure. Seems like it is tightly focused on the collect functionality - whic

[2017-05-13 15:59] amilajack commented on #65
@jzimmek would be awesome if you could PR this! 🎉

[2017-05-13 15:59] jzimmek commented on #65
https://github.com/amilajack/eslint-plugin-flowtype-errors/pull/84

[2017-05-14 19:50] sarkistlt commented on #27
still have this issue, any update or fix?

[2017-05-14 20:07] sarkistlt commented on #27
I have only one work around. In my case I'm using webstorm, so I need to turn off Flow type checking from webstorm, remove `flow-bin` from project and install it as global, then it works, but the are a couple problems.

[2017-05-14 21:53] amilajack commented on #27
I believe i know the fix for this. But its will take some time, which i dont have a lot of right now. Hope someone can PR this.

[2017-05-15 03:49] #65 closed

[2017-05-15 17:23] jdmota commented on #27
Maybe we could add a setting like `stopOnExit`, and if it is true, we do

[code]

I think it would be good, at least as a work around.

Besides, although keeping the flow server alive is good for caching, I think in most cases, when people run `eslint`, they run it once, and expect it to stop. When using this with editors, I suspect the editor actually keeps the process alive (but I could be wrong

[2017-05-15 17:29] amilajack commented on #27
@jdmota I think we should test this out and see how it impacts performance. How about creating a new branch. I can publish a new prerelease in `v4.0.0-0` so we can test this out

[2017-05-15 17:31] #80 closed

[2017-05-17 13:23] mgtitimoli commented on #65
Nice job @jzimmek!

Correct me if I'm wrong, but I believe there are two little details missed on the PR
1. Add a section in the README showing how to use the rule
2. There is a bug [here](https://github.com/amilajack/eslint-plugin-flowtype-errors/pull/84/files#diff-d2e0be6ec291992ef30c98ccd07ffc6dR204) (shouldn't be `stdout = childProcess.spawnSync(getFlowBin(), ['coverage', '--json']).stdout;`?)

[2017-05-17 15:46] jzimmek commented on #65
Thanks @mgtitimoli.

Will add a PR for the readme today. Meanwhile you can use it this way:

[code]

add the following rule (enforce 50% coverage) to your .eslintrc:

[code]

You are somehow right about 2. It is not a bug, because the default case will never be entered. The coverage function is always file based as of now. I copy/pasted this code part from the existing collect function which can a

[2017-05-23 03:04] epicallan opened #89 "enforce-min-coverage linter error"
I get this linter error in my file: definition for rule enforce-min-coverage was not found in flowtype-errors/enforce-min-coverage.
I am using current plugin version 3.2.1  and eslint 3.19.0
Thanks

[2017-05-23 03:14] amilajack commented on #89
@epicallan thanks for reporting this! I forgot to publish the new npm package after the PR to update the docs. Just pushed `3.3.0` that has this new eslint rule

[2017-05-23 03:38] epicallan commented on #89
The update fixed it. Thanks @amilajack

[2017-05-23 04:00] #89 closed

[2017-06-19 22:41] jasonify opened #91 "Files without @flow comment are throwing errors"
I am seeing eslint throw this error (a lot):

` 23:17  error  Type annotations require valid Flow declaration  flowtype/no-types-missing-file-annotation`

For files that don't have /*@flow*/ anywhere in the file.

eslint:

In package.json:
[code]

Any ideas would be helpful.

.flowconfig:

[code]
So not sure if that's causing problems since I am effectively running:

`eslint src/client`

Thanks

[2017-06-19 22:42] #91 closed

[2017-06-19 22:42] jasonify commented on #91
Closing, wrong repo :P

[2017-07-05 14:23] WhoAteDaCake opened #93 "Allow to disable some of the errors"
If [material-ui](https://github.com/callemall/material-ui/tree/v1-alpha) is used

[code]
Error:

Will be thrown
Is there any way of going around this, instead of adding $FlowIgnore comment everywhere?

[2017-07-05 17:10] amilajack commented on #93
You can use eslint to disable certain lines:

[code]

[2017-07-05 17:11] #93 closed

[2017-07-23 17:30] igidas opened #95 "'error Unexpected token' then combined with 'vue-eslint-parser'"
Please look at this comment:
https://github.com/mysticatea/vue-eslint-parser/issues/10#issuecomment-317260155

[2017-07-23 18:02] amilajack commented on #95
An ESLint AST cannot be passed to `flow-bin`. Plain text can be passed to it, however. Not sure if there is a workaround for this. Will investigate.

[2017-07-24 17:43] mysticatea commented on #95
`Program` node has the range which is program code.
I guess you can slice source code text.

[code]

[2017-08-16 20:47] Hypnosphi opened #96 "How to disable enforce-min-coverage for a file"
I have file for which I don't need to enforce minimal coverage. Unfortunately, this doesn't seem to work:
[code]

[2017-08-18 11:23] jdmota commented on #96
Have you tried

`/* eslint flowtype-errors/enforce-min-coverage: 0 */` ?

[2017-08-18 15:44] Hypnosphi commented on #96
This one works, thanks. I guess, `eslint-disable` doesn't because it's a per-file rule?

[2017-08-18 16:10] jdmota commented on #96
For plugins, I think you have to put quotes `"flowtype-errors/enforce-min-coverage"`

[2017-08-18 16:12] jdmota commented on #96
I believe it has nothing to do with the rule, but instead, how eslint reads those comments.

[2017-08-20 13:24] Hypnosphi opened #97 "`flowtype-errors/show-errors` doesn't work when linting from parent directory"
Repro repo: https://github.com/Hypnosphi/flowtype-errors-nonroot
[code]

[2017-08-21 10:55] jdmota commented on #97
If you run `flow` directly from the parent directory, what output does it give?

[2017-08-21 11:01] Hypnosphi commented on #97
I can't check right now, but why would I do that? I use flow only in subproject

[2017-08-21 11:46] jdmota commented on #97
This plugin uses `flow` in the background, and uses the current working directory as root by default. If `flow` outputs nothing, I think there is nothing we can do, since we rely on it.

[2017-08-21 11:53] jdmota commented on #97
![image](https://user-images.githubusercontent.com/18088420/29517977-762d1658-866f-11e7-9ec5-cc6741497f47.png)

The problem is that you don't have a `.flowconfig` file in the parent directory.

[2017-08-21 11:55] jdmota commented on #97
![image](https://user-images.githubusercontent.com/18088420/29518076-e8fa641a-866f-11e7-8fdb-02d1670f8685.png)

If you add

`"settings": {
	"flowtype-errors": {
            "flowDir": "./flow"
	}
  }` to your `.eslintrc` file, it works.

This changes the root that the flow server will use.

[2017-08-21 15:36] #97 closed

[2017-09-14 19:33] Hypnosphi commented on #96
No it doesn't

[2017-10-03 00:08] stefan1968 opened #100 "Cannot read property 'filter' of undefined"
Using versions: - "eslint-plugin-flowtype": "2.37.0",
    "eslint-plugin-flowtype-errors": "3.3.2",

Getting the following errors, when I run lint:-

yarn lint v0.27.5
$ eslint ./app/**/**.js
Cannot read property 'filter' of undefined
TypeError: Cannot read property 'filter' of undefined
    at collect (/Users/stefanwalker/Projects/Influence/Frontend2/node_modules/eslint-plugin-flowtype-errors/dis

[2017-10-06 17:07] jdmota commented on #100
Can you provide a minimal test case with the contents of that file?

[2017-10-09 15:21] leyyinad commented on #100
I got the same in . I didn't have the time yet to strip it down to a minimal test case, but maybe this is of help: The error happens in (list) `collect.js`, line 178.

`parsedJSONArray` is:
[code]

so `parsedJSONArray.errors` and hence `parsedJSONArray.errors.filter` is not defined.

Versions are:
[code]

Flow finishes with no errors at all. What might cause this?

[2017-10-09 16:59] jdmota commented on #100
Thanks! I will update my PR so that we show an error instead of ignoring.

[2017-10-09 17:36] #46 closed

[2017-10-09 17:47] amilajack commented on #96
@Hypnosphi please add a PR with a test case. I cant reproduce this.

[2017-10-09 17:47] #96 closed

[2017-10-11 10:22] fagerbua opened #102 "32-bit error message is sometimes misleading"
The changes in #46 makes the plugin fail when Flow doesn't run. That is clearly an improvement. But the error message is not always accurate: it complains about 32 bit even when the cause is something else — for example, the glibc version being too low ([Flow issue #49](https://github.com/flowtype/flow-bin/issues/49)), or the `FLOW_BIN` variable pointing to a binary that doesn't exist.

As a solut

[2017-10-11 11:27] amilajack commented on #102
@fagerbua i agree with this. A PR would be welcome. Mentioning likely issues with why flow might not be running would be a nice improvement. Ex:
[code]

[2017-10-11 16:49] jdmota commented on #102
Sorry about that. Didn't know about those cases.

For the PR, you just need to change the message here:

https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/2586b6f524f1b36b56887d5fa5c9d43262bad170/src/index.js#L48-L53

[2017-10-16 12:50] micaste commented on #71
Hi,

It's been more than a year since the issue was reported to Flow and it is still open.
Could we think about a way of solving it from this side ?

I understand that the first purpose was to save processing time by running Flow on only one file. But the Flow process is actually blazingly fast, so wouldn't it be conceivable to spawn the Flow process once at the start of the eslint process, then f

[2017-10-22 08:43] lydell opened #106 "Broader flow-bin peer dependency range?"
It feels like I always happen to use a non-compatible flow-bin version in my projects, so npm and yarn always warn me about this. Everything still works fine though.

It feels like the interface of the parts of flow-bin that eslint-plugin-flowtype-errors actually use has been stable for a long time, and does not seem to change soon.

Could we change the peer dependency to something like this to av

[2017-10-22 16:11] amilajack commented on #106
The issue with this is that we test against later flow versions. Cant guarantee that the plugin will work with older versions. I would recommend updating your flow version

[2017-10-22 16:11] #106 closed

[2017-10-22 16:29] lydell commented on #106
I understand that you can't guarantee that it will work, but in practice things have never broken for me. Of course I want to use the latest Flow version, but upgrading usually means that new errors are found, so you can't just do it in 5 minutes. And when I _do_ find the time, I probably have upgraded to a newer version than eslint-plugin-flowtype-errors specifies so I get the peer dependency war

[2017-10-25 14:41] #102 closed

[2017-10-27 20:11] amilajack commented on #100
Was this resolved?

[2017-11-13 10:43] sanghin opened #109 "update flow-bin peer dependency"
Hi and thanks for your (awesome) works on this package

I've run into a

`unmeet peer dependency eslint-plugin-flowtype-erros needs flow-bin@0.57.3, flow-bin@0.58.0 installed.`

According to this [website](http://jubianchi.github.io/semver-check/), this package only allow flow-bin version >=0.57.3 <0.58.0. Do you have technical reasons for this ? If so can you create a 'beta' version with newer ve

[2017-11-13 20:41] #109 closed

[2017-11-22 23:04] joltmode opened #110 "Insufficient error information"
I am setting up Vue environment with webpack, flow and eslint and testing out how it works.

Apparently, it didn't take much time to hit an interesting case.

---

Code:
[code]

[Interactive version @ flow.org](https://flow.org/try/#0PTAEAEDMBsHsHcBQAXAngBwKagCIENk8AxPAY2VgCdVQBeUACgEo6A+UAb1AFsBnAcwBcoXskoBLAHb8ANKABGU-rAD8wyQFdu8zJVABfRCgzYAsrAAmG6JgAqJup0ShQAakl5umYaInSZzqAWBHjC+IQk5FSoiIaImAAe

[2017-12-03 11:58] sobolevn commented on #95
@mysticatea @amilajack do you have any progress with this issue?
Is there anything I can do to help you?

[2017-12-03 12:13] mysticatea commented on #95
@sobolevn I'm not working on this. (I have never used flow...)

[2017-12-08 12:22] vitbokisch commented on #100
In my case eslint seemed to be working correctly, but using this plugin broke prettier formatting and got the same error message. Not sure if this helps with debugging the error...

[2018-01-11 15:51] #95 closed

[2018-02-18 04:44] JayAndCatchFire opened #114 "Feature request: Report flow warnings as eslint warnings"
This is a feature request.

Flow's linter now supports warnings as well as errors.  However, this plugin still reports warnings as errors in eslint.  Can it be adjusted to forward the correct message types to eslint?

[2018-02-18 04:50] amilajack commented on #114
I think that would be a great idea. Unfortunately I've been really busy recently. I'd love contributions to add this :)

[2018-02-18 04:57] amilajack commented on #114
@jdmota Do you think you can look into this?

[2018-02-18 05:08] JayAndCatchFire commented on #114
I can give it a shot if that's okay.

[2018-02-18 05:10] amilajack commented on #114
Of course!

[2018-02-18 23:56] JayAndCatchFire commented on #114
I've started work on this feature this evening, but I do have a question.  Should this just be handled like this or should this be opt-in or something?

Here are the options I'm thinking of.
1. It just works as expected without any kind of modification to a user's eslint config.
2. Warnings are _ignored_ by default.  In order to opt-in, you have to add a `flowtype-errors/show-warnings` rule to you

[2018-02-19 02:42] amilajack commented on #114
Option 2 is a good idea. Also make sure to update the docs in the readme and the changelog

[2018-02-19 20:52] ryami333 opened #115 "Support latest version of Flow (0.66)"
Flow error messages got an overhaul in [Flow 0.66](https://github.com/facebook/flow/releases/tag/v0.66.0). Using this latest release with `eslint-plugin-flowtype-errors` produces linting errors that just look like this:

![screen shot 2018-02-20 at 9 39 27 am](https://user-images.githubusercontent.com/12481532/36396571-b94fb032-1623-11e8-83c8-002674abc61c.png)

[2018-02-20 02:14] amilajack commented on #115
@jdmota wanna take a look at this?

[2018-02-20 06:59] JayAndCatchFire opened #117 "Feature request: a recommended shared config?"
Assuming https://github.com/amilajack/eslint-plugin-flowtype-errors/pull/116 gets merged, there'll now be two rules (with kinda obvious defaults).  `show-errors` and `show-warnings`.  How does a `recommended` shared config sound that sets these?
[code]

[2018-02-20 07:01] amilajack commented on #117
That sounds good 👍

[2018-02-20 07:04] #117 closed

[2018-02-20 07:05] JayAndCatchFire commented on #117
I'll work on a PR for this once #116 gets merged.

[2018-02-20 15:35] jdmota commented on #115
I'll take a look.

[2018-02-20 16:12] jdmota commented on #115
I think the problem is here:

https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/e8ded7ff20ca80c621f7af96d2634f1dd840f546/src/collect.js#L254-L278

The references show up on the "extra" property. With this code, if the "extra" property is available, the actual message seems to be ignored.

I'm not sure what needs to be done. Did flow change the json output?

I think these code was mad

[2018-02-20 20:10] nwoltman commented on #115
I'm looking into it. Flow completely changed their output format.

[2018-02-26 07:17] #114 closed

[2018-02-26 16:42] #115 closed

[2018-02-26 17:04] amilajack commented on #115
Published `3.5.0` which fixes this

[2018-04-14 19:02] sobolevn commented on #27
This is still an issue for me. Maybe there is some workaround?

[2018-04-23 11:55] soyFerrero opened #121 "Cannot use 'JestMockFN'"
"eslint-plugin-flowtype": "^2.46.3",
eslint-plugin-flowtype-errors": "^3.5.1",

ESLint: Cannot use `JestMockFn` (see https://github.com/facebook/flow/blob/v0.68.0/lib/jest_v22.x.x.js#L4) without 2 type arguments. (flowtype-errors/show-errors)

Some Idea?

Thank u

[2018-05-10 12:03] skyrpex commented on #27
In m case, since this plugin uses flow server, other flow plugins like `ide-flowtype` (for Atom) or `Flow Language Support` (for VSCode) won't work.

Do you have similar experiences?

[2018-05-24 08:07] soyFerrero commented on #121
I don't know how but it got solution reinstaling it.

[2018-05-24 08:07] #121 closed

[2018-05-30 08:36] PavelKoroteev opened #122 "No matching version found for eslint-plugin-flowtype-errors@3.6.0"
![image](https://user-images.githubusercontent.com/34572116/40709027-a648c460-63fd-11e8-96f9-478efe0e94bf.png)

[2018-06-03 22:45] vincentaudebert opened #123 "Getting errors on TravisCI"
Hi,

I'm getting the following errors on my TravisCI but it doesn't happen on my local machine.
(Note this could be related to https://github.com/amilajack/eslint-plugin-flowtype-errors/issues/41)

<img width="740" alt="screen shot 2018-06-04 at 12 20 13 am" src="https://user-images.githubusercontent.com/3360430/40891990-688027b8-6790-11e8-81c8-165608f7f7fd.png">

Here is my eslint config:
[code]

[2018-06-04 13:43] jdmota commented on #123
Can you try to run `flow` directly in CI? Without using `eslint-plugin-flowtype-errors`? Thanks

[2018-06-04 13:45] jdmota commented on #100
We no longer use `filter` in the `collect.js` file. Can this be closed?

[2018-06-04 13:48] jdmota commented on #110
Flow's output changed since this issue was reported. Do you still think that we should output more information? Or can this be closed? Thanks

[2018-06-04 13:52] jdmota commented on #122
Do you still have this issue? Or can this be closed? Thanks

[2018-06-04 13:59] joltmode commented on #110
I haven't expanded upon this ever since.

[2018-06-04 13:59] #110 closed

[2018-06-04 15:07] vincentaudebert commented on #123
@jdmota my flow task works fine yes. Does your comment mean I can't use `eslint-plugin-flowtype-errors` with Travis?

[2018-06-04 15:50] vincentaudebert commented on #123
I moved to CircleCI and the error is gone. I'll stay there and ditch TravisCI. Thanks. I close this issue but feel free to comment if you have a fix.

[2018-06-04 22:52] jdmota commented on #123
![image](https://user-images.githubusercontent.com/18088420/40945669-cfdf12f4-6851-11e8-8c7e-736002087ec8.png)

That is weird. Not sure why we output "Cannot resolve module" but flow passes with no errors...

I think it is worth to investigate.

[2018-06-05 09:58] vincentaudebert commented on #123
You might have found the details already but just in case
My repo is github.com/vincentaudebert/vatweb
And the travis config I was using is the following: https://github.com/vincentaudebert/vatweb/blob/5c67f7bacd320214f30b3f616a2937738fdf5a0b/.travis.yml

[2018-06-13 12:52] PavelKoroteev commented on #122
Thank you for help!

[2018-06-13 12:52] #122 closed

[2018-07-26 10:34] robertherber opened #124 "Issue setting up monorepo"
I'm using flowtype-errors in a monorepo setup, with this folder structure:

- MyProject
  - moduleA
    - .eslintrc
    - .flowconfig
  - moduleB
    - .eslintrc
    - .flowconfig
  - etc..

It's working great from the command line and everything else in ESLint works great in Atom as well. But for some reason flowtype-errors gets confused regarding where the flow setup is.

Without configuration I

[2018-07-26 12:45] jdmota commented on #124
I guess we should use something like `find-up` to find the correct `.flowconfig` instead of assuming that there is only one config file, on the root or in `flowDir`...

https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/d765ab242c2de19a6bffff143b87ffc7ba566353/src/index.js#L33-L44

Or instead, just let `flow` do it's thing, instead of reading the `.flowconfig` ourselfs...

https://git

[2018-07-27 06:52] robertherber commented on #124
I'm using ESLint@5.2.0. [I've reproduced the error with a minimal setup here](https://github.com/robertherber/repro-eslint-flowtype-error). Open the root git folder in Atom with default linting settings and you should be able to reproduce it as well. I've only tried with Atom - but it wouldn't surprise me if it's the same with other editors.

[2018-07-27 14:08] jdmota commented on #124
When you get the error `Invalid position given by 'flowtype-errors/show-errors'. See the description for details. Click the URL to open a new issue!`. What is the description that is given? (For some reason, eslint hangs on Windows, when I test your example...)

The problem probably is that something changed with eslint@5 and we don't support it yet.

[2018-07-29 11:02] robertherber commented on #124
To reproduce from the command line:
`moduleA/node_modules/.bin/eslint .`

Which gives the error:
`
/Users/robert/Code/_playground/repro-eslint-flowtype-error/moduleA/some-code.js
  1:1  error  Flow returned an error: Could not find a .flowconfig in /Users/robert/Code/_playground/repro-eslint-flowtype-error or any of its parent directories.
See "flow init --help" for more info
 (code: 12)  flowtype

[2018-07-29 12:14] jdmota commented on #124
I think the opposite would work better: starting on the folder a file is, work up-wards with something like `find-up`. When we find `.flowconfig`, that is the root.

If we work down-wards, we would need to walk every folder or have information about your monorepo folder structure, and that means more configuration to setup...

@amilajack Any ideias?

[2018-07-30 09:57] robertherber commented on #124
Looking upwards from the actual file obviously sounds like a better idea @jdmota :)

[2018-08-29 17:07] amilajack opened #128 "Tests against multiple eslint versions"
Plugins tests break against `eslint@5`

[2018-09-02 02:41] nwoltman commented on #100
@jdmota I am very certain that this can be closed. I believe #101 did fix it and then `.filter()` was removed in #119, so this can't possibly still be a problem.

[2018-09-02 03:14] #100 closed

[2018-10-04 07:36] christophediprima commented on #27
I have the same issue? Any fix for this?

[2018-10-30 16:12] Fer0x opened #133 "Error for typeof foo === 'symbol'"
I have following error: ```ESLint: Cannot compare the result of `typeof` to string literal `symbol` because it is not a valid `typeof` return value. (flowtype-errors/show-errors)``` with code like this:

[code]

[2018-10-30 19:34] jdmota commented on #133
That is how Flow works. We can't help you with that :(

https://flow.org/try/#0GYVwdgxgLglg9mABFApgZygCgG4EMA2IKAlIgN4BQiiMwimUAngA4px16EqIC8fiAcjSMAtgCM4+AaUrVqAJxRQQ8pJyIBuKogC+FHUA

[2018-10-30 19:34] #133 closed

[2019-01-03 21:56] Argonanth opened #156 "Hangs during webpack build"
Hey,

I may just be using this wrong or missing something completely, but I'm starting to get really confused. I currently have my project setup so that eslint runs on every webpack build and fails if any errors are found.

Sometimes, but not all the time, when I make changes to my js files eslint decides to hang during the build. This only happens now that I'm trying to add flowtype to the projec

[2019-01-04 16:13] Argonanth commented on #156
The issue seems to be with the flow server.

If I have a flow server running before I start my build everything is just fine. If I make sure to stop the flow server it will hang 100% of the time.

By adding `npm run flow` to all my npm build scripts it fixes the issue (starts a server if one doesn't exist).

I'm not sure if this is an actual issue with the plugin or if it's just a problem with web

[2019-01-11 06:54] #156 closed

[2019-02-23 07:47] amilajack opened #159 "migrate from appveyor to azure pipelines"

[2019-02-23 10:09] #159 closed

[2019-03-22 04:23] #61 closed

[2019-07-01 11:15] iiitmanikanta opened #181 "How to configure this with create react app without ejecting ?"
can we configure eslint-plugin-flowtype-errors with create react app to check the flow errors in runtime?

Similar to this
![image](https://cloud.githubusercontent.com/assets/246520/20870411/047d1f3e-ba88-11e6-98bb-06d19e919efa.gif)

This is a:

 - [ ] Bug Report
 - [x] Feature Request
 - [ ] Question
 - [ ] Other

Which concerns:

 - [x] flow-runtime
 - [ ] babel-plugin-flow-runtime
 - [ ] flow-r

[2019-07-01 13:52] nwoltman commented on #181
You'd need to use the [ESLint extension](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint) for that.

Are you using ESLint though? It seems like maybe the [Flow Language Support extension](https://marketplace.visualstudio.com/items?itemName=flowtype.flow-for-vscode) is what you're really looking for.

[2019-07-05 09:23] iiitmanikanta commented on #181
hi @nwoltman, these extensions are working fine in IDE level but I want a solution to emit errors in dev server itself so that new developers can't skip them.
we are using create react app without ejecting, so I can't extend .babelrc file

[2019-07-05 14:37] nwoltman commented on #181
This plugin is just an ESLint plugin, so if you could run ESLint in Create React App then that's all you'd need.

Also, is there something about the [Adding Flow documentation](https://facebook.github.io/create-react-app/docs/adding-flow) in Create React App that doesn't give the functionality that you want?

[2019-07-05 16:10] #181 closed

[2019-09-04 08:28] MEGApixel23 opened #185 "Error: Cannot resolve name `$Shape` (flowtype-errors/show-errors)"
I'm using flow with VueJS and eslint. Looks like the plugin doesn't recognize the built-in flow types, like ```$Shape```.

Here is a code where it fails:
[code]

and here is my eslint config within package.json
[code]

[2019-09-04 13:53] nwoltman commented on #185
Could you please provide the following:

+ The output you're getting from ESLint
+ The output that you get when running Flow directly
+ An example of the output you're expecting

As a side note, it's not this plugin's responsibility to do things like "recognize the built-in flow types, like `$Shape`". This plugin just runs Flow and displays Flow errors as ESLint errors.

[2019-09-04 14:01] MEGApixel23 commented on #185
Appreciate your quick response!

1. "The output you're getting from ESLint"
[code]

2. "The output that you get when running Flow directly"
[code]

3. I expect no errors in the output.

[2019-09-04 14:35] nwoltman commented on #185
How in the world is ESLint saying your code uses `$Diff` but Flow says it uses `$Shape`?

[2019-09-04 14:38] MEGApixel23 commented on #185
Sorry about that. I was trying different built-in types and copied wrong error output. There should be $Shape in both cases. But the same is relevant for any built-in type.

[2019-09-04 14:49] nwoltman commented on #185
In that case, this has nothing to do with this plugin. If Flow is giving you an error, this plugin is just going to output that same error.

This looks like it's a bug in Flow, so you should report it over in the [`flow` repo](https://github.com/facebook/flow).
They take forever to fix bugs, so in the meantime, you could do this as a workaround:

[code]

[2019-09-04 14:49] #185 closed

[2020-04-01 16:44] jeffal commented on #27
I've had this issue occur when running multiple versions of `flow-bin` at the same time.

I recommend checking if you have a global version installed or if your repo has multiple `flow-bin` dependencies (monorepo), that they are all in sync across the board.

[2021-03-10 11:12] Etheryte commented on #27
For anyone else running into this problem, in our case it was a problem with Flow [running out of memory with its dependency hash table](https://www.karltarvas.com/2021/03/10/eslint-plugin-flowtype-errors-keeps-spawning-and-killing-flow-processes.html). Naturally, no error is logged about it, the server just crashes and is restarted over and over again which results in the above.

Increasing the h

[2021-05-29 21:41] renovate[bot] opened #250 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Configuration option 'packageRules[3].node' should be a json object, Configuration option 'packageRules[3].npm' should be a json object, In

[2021-05-30 03:51] #250 closed

[2021-08-30 09:35] renovate[bot] opened #265 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore(deps): update dependency eslint-plugin-prettier to ^3.4.1
 - [ ] chore(deps): update dependency eslint-plugin-flowtype to ^5.9.1
 - [ ] cho

[2021-10-12 12:52] noahehall opened #272 "deprecation warning appears on install"
my env

[code]

[code]